.couponItem .thumb {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 30px 0;
  min-height: 130px;
}

.couponItem .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30px;
  padding: 5px 15px 5px;
  background-color: #f9f9f9;
  border-radius: 0px 0px 11px 11px;
}

.couponItem .title {
  font-size: 14px;
  color: black;
}

.couponItem a {
  text-decoration: none;
  color: inherit;
}

.couponItem a:visited {
  color: inherit;
}
