.donateItem .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  min-height: 150px;
  background-color: #e6e6e6;
  margin: 30px;
  border-radius: 11px;
}

.donateItem .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30px;
  padding: 5px 15px 5px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}

.donateItem .titleWrapper {
  display: flex;
  font-size: 12px;
  margin: 0px 15px 20px 15px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.donateItem .title {
  font-size: 12px;
  color: black;
}

.donateItem a {
  text-decoration: none;
  color: inherit;
}

.donateItem a:visited {
  color: inherit;
}

.select-box img {
  height: 12px;
  width: 12px;
}

.select-box.open img,
.rotateArrow {
  transform: rotate(180deg);
}
