.header {
  background-color: #fff;
}

.header .content {
  padding: 65px 10px 20px;
  text-align: left;
}

.header .title {
  margin: 10px auto 20px;
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.charityIcon {
  width: 100px;
  height: auto;
  border: 1px solid #000;
  padding: 20px;
  margin-left: 0;
  border-radius: 8px;
  align-self: flex-end;
}

.charityHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.topics {
  margin: 30px auto 100px;
}

.topic {
  padding: 28px 50px;
}

.topic:not(:last-child) {
  margin-bottom: 20px;
}

.topic .title {
  margin: 0 auto 10px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.topic .summary {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: #878787;
}
