.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  margin-top: 80px;
  background-color: #f0f0f0;
}

.leftContainer,
.chatRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.challengeInfo {
  /* 챌린지 정보 스타일 */
  margin-bottom: 10px; /* 달력과의 간격 */
  width: 100%;
}

.calendarContainer {
  margin-right: 20px; /* 캘린더와 채팅룸 사이 간격 */
}

.chat-room {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
}
/* 
.chatRoom {
  width: 25%;
  height: 50%;
  overflow-y: auto;
  padding: 10px;
  margin-left: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
} */

.message {
  padding: 8px 10px;
  margin-bottom: 4px;
  border-radius: 15px;
  max-width: 60%;
  word-wrap: break-word;
  line-height: 1.4;
}

.messagesContainer {
  overflow-y: auto;
  flex-grow: 1;
}

.message.mine {
  background-color: #dcf8c6;
  margin-left: auto;
  margin-right: 0;
}

.message-nickName {
  font-weight: bold;
}

.messages-container {
  overflow-y: auto;
  height: 300px;
  padding: 10px;
}

.inputArea {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff; /* Set the background color to white */
}

.input-area input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-area button {
  padding: 10px 15px;
  background-color: #34b7f1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #2aabd2;
}
